<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Geolocation Test
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Geolocation Test</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-button (click)="getLocation()">Get Location</ion-button>
    <ion-button (click)="requestPermissions()">Get Permissions</ion-button>
    <ion-button (click)="checkPermissions()">Check Permissions</ion-button>
  </div>
</ion-content>
